<h1>Upload curriculum_vitae</h1>

<%= form_with(model: @user, url: curriculum_vitaes_user_path, local: true, method: :post) do |form| %>
  <div class="field">
    <%= form.label :curriculum_vitae %>
    <%= form.file_field :curriculum_vitae %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
