<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  email:   <%= @user.email %>
  <br>
  admin:   <%= @user.admin %> %>
  <br>
  created_at:   <%= @user.created_at %>
  <br>
  updated_at:   <%= @user.updated_at %>
  <br>
  first_name:   <%= @user.first_name %>
  <br>
  last_name:   <%= @user.last_name %>
  <br>
  pav_until:   <%= @user.pav_until %>
  <br>
  driving_licence:   <%= @user.driving_licence_since %>
</p>

<% if @user.curriculum_vitae.attached? %>
  <p>
    <strong>CV:</strong>
    <br>
    Filename:   <%= @user.curriculum_vitae_attachment.filename %>
    <%= link_to 'Remove', attachment_url(@user.curriculum_vitae_attachment.id), method: :delete %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
