<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.images.attached? %>
  <p>
    <strong>Images:</strong>
    <% @post.images.each do |image| %>
      <br>
      <%= image_tag image %>
      <%= link_to 'Remove', delete_image_post_url(image), method: :delete %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
